@use 'vio-var' as vio;
@use 'vio-component' as component;
@use 'iconfont' as icon;

.main-body {
    &:empty {
        display: none;
    }
}
.vio-archive {
    list-style: none;
    h2{
        font-size: 2rem;
    }
    li{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
        padding: 0.5rem 0;
        a{
            width: 100%;
            color: vio.$font-color;
            font-weight: bold;
        }
        span{
            margin-right: .8rem;
            margin-left: 1rem;
            // background: vio.$color-violet-feather;
            color: vio.$color-violet-light;
            padding: 0.1rem 0.3rem;
            border-radius: calc(vio.$radius / 3);
            font-size: .9rem;
            white-space: .2rem;
            font-weight: bold;
        }
        // &:nth-child(odd){
        //     background: #0000000b;
        //     border-radius: calc(vio.$radius /2);
        // }
    }
    .M01,.M02,.M03{
        span{
            color: #4CAF50;
        }
    }
    .M04,.M05,.M06{
        span{
            color: #f6695f;
        }
    }
    .M07,.M08,.M09{
        span{
            color: #FF9800;
        }
    }
    .M10,.M11,.M12{
        span{
            color: #2196F3;
            &::before{
                content: '❄️';
                position:absolute;
                transform: translateX(-1.5rem);
            }
        }
    }

}
.cutup {
    // border-bottom: .1rem solid rgba(128, 128, 128, 0.199);
    // margin: 1rem 0;
}