@use 'vio-var' as vio;
@use 'vio-component' as component;
@use 'iconfont' as icon;

.vio-single {
    flex: 1;

    >article {
        // display: flex;
        @include component.vio-card;
        background: vio.$card-background-color;
        margin: 2rem 0;
        padding: 2rem;
        // transition: all 0.5s ease-out;

        >.info {
            //文章头部信息部分
            display: flex;

            //分割线
            padding-bottom: .5rem;
            margin-bottom: 1.5rem;
            border-bottom: .1rem solid rgba(128, 128, 128, 0.199);

            >div {
                //信息展示卡的文字部分
                flex: 6;

                >h1 {
                    font-size: 2rem;
                }

                p {
                    opacity: 0.6;
                    margin: 0.4rem 0;
                    z-index: -1;
                    // color: vio.$font-color;

                    .item {
                        margin-left: .5rem;
                    }

                    a {
                        color: vio.$font-color;
                    }
                }
            }

            &:hover {
                .art-cats a {
                    color: vio.$color-violet;
                }

                .art-tags a {
                    color: vio.$color-sky;
                }
            }

            >img {
                //左侧图片
                @include component.vio-img;
                transition: transform 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);
                border-radius: vio.$radius;
                width: 30%;
                max-height: 30vh;

                &:hover {
                    transform: rotate(.007turn) scale(1.2);
                    transition: transform 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);
                }
            }
        }

        >.main-body {
            //正文部分
            line-height: 1.8;
            text-align: left;
            font-size: 1.07rem;

            img {
                margin: 1rem 0;
                border-radius: vio.$radius !important;
                border: .1rem solid rgba(128, 128, 128, 0);
            }

            figcaption {
                font-size: .8rem;
                font-weight: 400;
                color: vio.$font-color-light;
                margin-top: -1rem;
                text-align: center;
            }

            h2 {
                // font-size: 1.6rem;
                margin: .8rem 0;

                &::before {
                    content: "#";
                    color: white;
                    padding: .1rem .4rem;
                    margin-right: .5rem;
                    background: vio.$color-violet-light;
                    border-radius: calc(vio.$radius / 2);
                }
            }

            h3 {
                // font-size: 1.2rem;
                margin: 0.5rem 0;

                &::before {
                    content: "##";
                    color: white;
                    padding: .1rem .4rem;
                    margin-right: .5rem;
                    background: vio.$color-violet-light;
                    border-radius: calc(vio.$radius / 2);

                }
            }

            ul {
                margin: .5rem 0;
                list-style-type: none;
                border-left: .3rem dashed vio.$color-violet-light;
                padding-left: 1rem;
            }

            .wp-block-quote {
                // border-left: vio.$color-violet-light .3rem solid;
                background: vio.$color-violet-argon;
                padding: 1rem;
                border-radius: vio.$radius;
                display: flex;
                flex-direction: column-reverse;
                margin: 1rem 0;

                p {
                    align-self: flex-end;
                    color: vio.$color-violet-dark;

                    &::before {
                        content: "--";
                        margin-right: .5rem;
                    }

                    &:empty {
                        //如果没有内容，那咱就是个提示框
                        display: none;

                        +cite {
                            &::before {
                                //TODO 「TIPS」实心展示 空心展示 不展示 三选一 
                                // display: none;
                                content: "TIPS";
                                color: white;
                                font-weight: bold;
                                font-size: 1rem;
                                padding: .1rem .4rem;
                                margin-right: .5rem;
                                background: vio.$color-violet-light;
                                border-radius: calc(vio.$radius / 2);

                                border: .1rem solid vio.$color-violet-light;
                                color: vio.$color-violet-light;
                                background: none;
                            }
                        }
                    }
                }

                cite {
                    font-weight: vio.$font-weight-normal;
                    color: vio.$font-color-light;
                    text-align: left;
                    font-style: normal;

                    &::before {
                        content: "“";
                        color: vio.$color-violet-light;
                        font-size: 2rem;
                        margin-right: .5rem;
                    }
                }

            }

            .wp-block-code {
                //代码块
                //TODO 代码块高亮以后再说
                background: #242424;
                padding: 1rem;
                border-radius: vio.$radius;
                margin: 1rem 0;
                font-size: 1rem;
                color: white;
                overflow: auto;

                code {
                    color: white;
                }
            }


        }

    }

}

.vio-comments {
    @include component.vio-card;
    padding: 2rem;
    background: white;

    .comment_title {
        margin-bottom: 1rem;
        &::before{
            @include icon.iconfont;
            @include icon.bookmark;
        }
    }

    .reply_title{
        display: inline-block;
        margin-bottom: .5rem;
        >a{
            color: vio.$font-color;
        }
        +small{
            background-color: vio.$color-violet-argon;
            padding: .3rem .4rem ;
            border-radius: calc(vio.$radius / 4);
            >a{
                color: vio.$color-violet-light;
            }
        }
    }

    ul {
        list-style-type: none;
    }

    form {
        margin-bottom: 1rem;
        //评论表单
        textarea {
            border: none;
            border-bottom: solid .1rem vio.$color-violet-light;
            background: vio.$color-violet-argon;
            padding: vio.$radius;
            color: vio.$font-color;
            $input-radius: calc(vio.$radius / 2);
            border-radius: $input-radius $input-radius 0 0 ;
            width: 100%;
            min-height:5rem;
            resize: none;
            transition: border .3s ease-in-out;
            &:focus{
                outline: none;
                border-bottom: .2rem solid vio.$color-violet-light;
            }
        }

        .form-submit{
            text-align: right;
        }
        .submit{
            border: none;
            padding: .4rem 1.5rem ;
            border-radius: calc(vio.$radius / 2);
            background: vio.$color-violet-light;
            color: white;
        }

    }

    li {

        //评论列表，留白分隔
        // margin-left: 1rem;
        >.comment {
            display: flex;

            .avatar {
                //头像
                width: 3rem;
                height: 3rem;
                border-radius: calc(vio.$radius/2);
            }

            .comment-content {
                width: 100%;
                position: relative;
                margin: 0 0 0 1rem;

                &:hover {
                    .year {
                        //显示具体年

                        opacity: 1 !important;
                        transition: opacity .3s;
                    }

                    .reply_link {
                        //显示回复按钮
                        opacity: 1 !important;
                        transition: opacity .3s;
                    }
                }

                .name {
                    color: vio.$font-color-light;

                    >a {
                        color: vio.$font-color-light;
                    }

                    margin: 0 0 .3rem 0;
                }

                .text {
                    font-size: .85rem;
                    color: vio.$font-color;
                    margin-bottom: 1.5rem;
                    min-height: 1.5rem;
                    //分隔留白同时占位置
                }

                //time
                .time {
                    color: vio.$font-color-feather;
                    position: absolute;
                    top: .5rem;
                    right: .5rem;
                    font-size: .85rem;
                }

                .year {
                    opacity: 0;
                    transition: opacity .3s;
                }

                .reply_link {
                    opacity: 0;

                    >a {
                        color: vio.$color-violet-light;

                        &:hover {
                            color: vio.$color-violet;
                        }
                    }

                    background: vio.$color-violet-argon;
                    font-size: .8rem;
                    position: absolute;
                    border-radius: calc(vio.$radius / 4);
                    padding: .2rem .3rem;
                    right: .5rem;
                    bottom: .5rem;
                    transition: opacity .3s;
                }
            }
        }
    }

    .reply {
        //子评论右移
        margin-left: 2rem;

        .avatar {
            width: 2rem !important;
            height: 2rem !important;
        }
    }
}