$font-stack:Helvetica, Arial, sans-serif; //TODO 用苹方，或者其他？

$font-color:rgb(79, 79, 79); //TODO 用苹方，或者其他？
$background-color:rgb(244, 244, 244);
$card-background-color:white;

$color-violet:#7f2ad4;
$color-violet-light:#a66df2;
$color-violet-dark:#4f0a9d;
$color-sky:#2a93d4;
$color-sky-light:#6dc2f2;
$color-sky-dark:#0a5d9d;

$vio-background-img:--vio-background-img;

$radius:1rem;


:root{
    --vio-background-img: url("https://s2.loli.net/2022/07/20/A1FhITWEvMeQk7C.jpg"); //TODO 应该能换
}


