@use 'vio-var' as vio;


.footer-line {
    margin-bottom: 2rem ;
    border-bottom: solid .5rem vio.$color-violet-argon;
}

footer {
    width: 100%;
    margin: 2rem 0;

    >div {
        display: flex;
        .footer-left {
            flex: 1;
            color: vio.$font-color-light;
            >.title {
                font-size: 1.8rem;
                font-weight: vio.$font-weight-bold;
                margin-bottom: 1rem;
                color: vio.$font-color-feather;
            }
            .theme-logo{
                margin-top: 2rem;
                text-decoration-style: none;
                padding: .5rem;
                background: vio.$color-violet-argon;
                // color: vio.$color-violet-light;
                color: vio.$color-violet-light;
                border-radius: calc(vio.$radius / 2);
                font-weight: vio.$font-weight-bold;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            
        }

        .footer-right {
            flex: 1;
            color: vio.$font-color-light;
        }
    }
}