@use 'vio-var' as vio;
@use 'vio-component' as component;

.footer-line {
    margin-bottom: 2rem ;
    border-bottom: solid .5rem vio.$color-violet-argon;
}

footer {
    width: 100%;
    margin: 2rem 0;

    >div {
        display: flex;
        .footer-left {
            flex: 1;
            color: vio.$font-color-light;
            >.title {
                @include component.vio-bold;
                font-size: 1.8rem;
                font-weight: vio.$font-weight-bold;
                margin-bottom: 1rem;
                color: vio.$font-color-feather;
            }
            .theme-logo{
                @include component.vio-bold;
                margin-top: 2rem;
                text-decoration-style: none;
                padding: .5rem;
                background: vio.$color-violet-argon;
                // color: vio.$color-violet-light;
                color: vio.$color-violet-light;
                border-radius: calc(vio.$radius / 2);
                font-weight: vio.$font-weight-bold;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
            
        }

        .footer-right {
            flex: 1;
            color: vio.$font-color-light;
        }
    }
}

.footer-link{
    &:empty{
        display: none;
    }
    list-style: none;
    display: flex;
    background-color: rgba(196, 196, 196, 0.108);
    padding: .5rem 1rem;
    max-width: 40vw;
    border-radius: calc(vio.$radius /2);
    margin-bottom: 1rem;
    >li a{
        color: rgb(144, 144, 144);
        font-weight: bold;
        margin-right: 1rem;
    }
}