@use 'vio-component';
@use 'vio-var' as vio;
@use 'iconfont' as icon;

.tips {
    color: rgb(39, 162, 60);

    &::before {
        content: "//";
    }
}

#wpwrap {}

#wpcontent,
#wpbody,
#wpbody-content {
    padding: 0;
}

.open-menu {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    &::before{
        @include icon.chevron-right;
        @include icon.iconfont;
        background: vio.$color-violet-light;
        color: white;
        font-size: 1.5rem;
        padding: .5rem;
        border-radius: .5rem;
    }
}
.vio-setting {
    overflow: hidden;
    display: flex;
    // width: 45rem;

    .setting_list {
        width: 15rem;
        padding: 0 1rem;
        border-right: solid .1rem vio.$color-violet-argon;

        button {
            color: vio.$font-color;
            margin: .1rem 0;
            width: 100%;
            text-align: left;
            padding: .2rem 1rem;
            border: none;
            background-color: transparent;
            border-radius: calc(vio.$radius / 3);
            font-size: .9rem;

            &:hover,
            &.active {
                background-color: vio.$color-violet-argon;

                &::before {
                    background: none;
                }
            }

            &::before {
                margin-right: .5rem;
                display: inline-block;
                @include icon.iconfont;
                // transform: scale(1.5);
                padding: .3rem;
                background: vio.$color-violet-argon;
                color: vio.$color-violet-light;
                border-radius: calc(vio.$radius / 4);
                font-weight: bold;
            }
        }
    }

    .vio-option-container {
        width: 30rem;
        margin: 1rem .5rem;
        select {
            background-color: vio.$color-violet-argon;
            border: none;
        }

        button {
            text-align: right;
            background: vio.$color-violet-light;
            border: none;
            color: white;
            border-radius: .5rem;
            padding: .3rem 1rem;
            font-size: 1rem;
            font-weight: bold;
            margin:0 .2rem;
        }

        h2 {
            margin: 0 0 -2.2rem 0;
            text-align: right;
            font-size: 1.2rem;
            color: vio.$font-color-feather ;
            font-weight: bold;
        }

        h3 {
            margin-top: 0;

            &::before {
                content: "";
                display: block;
                width: .3rem;
                height: 1rem;
            }
        }

        .setting-card,
        form {
            background: white;
            padding: 1rem;
            border-radius: vio.$radius;
            margin: 1rem;
        }

        .option-component {
            margin: 1rem 0;
        }

        .vio-item-input {
            p {
                margin: .3rem 0 0 0;
            }

            div {
                display: flex;
            }

            input {
                border: none;
                background-color: vio.$color-violet-argon;
                width: 100%;
                border-radius: calc(vio.$radius/4);

                &:focus {
                    box-shadow: none;
                }

                &[type="button"] {
                    flex: 1;
                }
            }
        }

        .vio-item-switch {
            display: flex;

            label {
                flex: 1;
            }

            input {
                margin: 0;
                padding: .3rem !important;
                border: none;
                box-shadow: none;
                background-color: vio.$color-violet-argon;
                width: 3rem;
                height: 1.5rem;
                display: flex;
                align-items: center;
                border-radius: calc(vio.$radius/4);

                &::before {
                    content: '';
                    background: vio.$color-violet-feather;
                    display: block;
                    height: 1rem;
                    width: 1.3rem;
                    margin: 0;
                    border-radius: calc(vio.$radius/4);
                    transition: .2s ease;
                }

                &:checked::before {
                    margin-left: 1.1rem;
                    background: vio.$color-violet-light;
                }
            }
        }

        .vio-item-select {
            display: flex;

            label {
                flex: 1;
            }
        }

        .vio-item-list{
            label {
                display: block;
            }
            li {
                display: flex;
                button{
                    padding: 0;
                    background: none;
                    color: vio.$color-violet-light;
                    &:first-child{
                        flex: 1;
                    }
                }
            }
        }

    }
}



button[page="top"]::before {
    @include icon.star;
}

button {
    &[page="test"]::before {
        @include icon.star;
    }

    &[page="site"]::before {
        @include icon.pentagon-outline;
    }

    &[page="style"]::before {
        @include icon.creation;
    }

    &[page="content"]::before {
        @include icon.book-outline;
    }

    &[page="sidebar"]::before {
        @include icon.arrow-left;
    }

    &[page="other"]::before {
        @include icon.texture;
    }
}

textarea {
    width: 100%;
    min-height: 5rem;
    border: solid vio.$color-violet-light .1rem;
}

@media screen and (max-width:50rem) {
    .open-menu {
        display: block;
    }
    .setting_list {
        padding-top: 4rem !important;
        position: fixed;
        left: -100%;
        background: rgba(255, 255, 255, 0.616);
        backdrop-filter: blur(10px);
        height: 100%;
        &.show{
            left: 0;
        }
    }
    .vio-option-container {
        margin-top: 4rem !important;
        form {
            margin: 1rem 0 !important;
        }
    }
}