@use 'vio-component';
@use 'vio-var' as vio;
@use 'iconfont' as icon;

.tips{
    color:rgb(39, 162, 60);
    &::before{
        content: "//";
    }
}

#wpwrap{
}

#wpcontent,#wpbody,#wpbody-content{
    padding: 0;
}

.vio_setting{
    height: 95vh;
    overflow: hidden;
    display: flex;
    width: 45rem;
    .setting_list{
        width: 15rem;
        padding:0 1rem;
        border-right: solid .1rem vio.$color-violet-argon;
        button{
            color: vio.$font-color;
            margin:.1rem 0;
            width: 100%;
            text-align: left;
            padding: .2rem 1rem;
            border: none;
            background-color: transparent;
            border-radius: calc(vio.$radius / 3);
            font-size: .9rem;
            &:hover{
                background-color: vio.$color-violet-argon;
                &::before{
                    background: none;
                }
            }
            &::before{
                margin-right: .5rem;
                display: inline-block;
                @include icon.iconfont;
                // transform: scale(1.5);
                padding: .3rem;
                background: vio.$color-violet-argon;
                color: vio.$color-violet-light;
                border-radius: calc(vio.$radius / 4);
                font-weight: bold;
            }
        }
    }
    .setting{
        width: 30rem;
        margin: 2rem;
        // background: vio.$background-color;
    }
}


button[go="top"]::before{
    @include icon.star;
}
