/*
    2022/10/11
    TODO 有些属性应该是成变量
*/
@use 'vio-common';
@use 'vio-component' as component;
@use 'vio-var' as vio;
@use 'shake-hard';
@use 'vio-article';
@use 'vio-footer';

@use 'iconfont' as icon;

:root {
    --vio-font-color: rgb(79, 79, 79);
}


body {
    /* background-color:rgb(245, 245, 247); */
    background-color: rgb(244, 244, 244);
    color: var(--vio-font-color);
}


/* display style */
.vio-card {
    background: white;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem rgba(128, 128, 128, 0.05);
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: .2rem .2rem 2rem rgba(128, 128, 128, 0.100);
        transition: box-shadow 0.5s;
    }
}


/* # header */
header {
    position: fixed;
    z-index: 999;

    .menu {
        display: flex;
        margin: .7rem 3rem;
        height: 3.4rem;
        backdrop-filter: blur(7px);
        border-radius: vio.$radius;
        box-shadow: .2rem .2rem 1rem rgba(128, 128, 128, 0.246);
    }

    ul {
        list-style-type: none;
        display: flex;
        padding: .5rem 1rem;
        /* opacity: 0.8; */
        background-color: #38abf2e4;
        /* background-color: #f4f4f4; */
        border-radius: vio.$radius;

        li {
            opacity: 1;
            margin: 0 auto;
            margin: auto 1rem;

            a {
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: 1.1rem;
            }

        }
    }

}


.banner {
    height: 80vh;
    /*  60% height  */
    font-weight: 100%;
    background: url("https://tva4.sinaimg.cn/large/ec43126fgy1gzuaszf2xwj22801cye82.jpg") center;
    /* TODO 背景图，应该是变量 */
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem;
    padding-bottom: 7rem;
    display: flex;
    align-items: center;
}

.sayhello {
    /* background: red; */
    color: #f4f4f4;

    margin-top: -10vh;
    >h1 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: 0.15rem;
    }

    >p {
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 0.15rem;
    }

}


.vio-404{
    >h1{
        font-size: 5rem;
    }
    >p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

/* # 内容容器 */
.container {
    margin: auto;
    max-width: 80rem;
    padding: 0 2rem;
}

.content{
    margin: -35vh auto 2rem auto;
    display: flex;
}

/* ## main */

.art-list {
    flex: 6;

    >ul {
        list-style-type: none;

    }

    a {
        text-decoration: none;
        color: rgb(79, 79, 79);
        /* 链接颜色 TODO 应该是变量*/
    }

    li {
        background: white;
        border-radius: vio.$radius;
        padding: 2rem;
        margin: 2rem 0;
        // box-shadow: .2rem .2rem 1rem rgba(128, 128, 128, 0.134);
        transition: box-shadow 0.3s ease-out;
        display: flex;
        /* text-decoration: none; */
        color: rgb(79, 79, 79);
        /* 文章列表文字颜色 */

        &:hover {
            box-shadow: .2rem .2rem 2rem rgba(128, 128, 128, 0.199);
            transition: box-shadow 0.5s ease-out;
        }

        .art-card {
            flex: 7;
            align-items: center;
            flex-direction: column;
            font-weight: vio.$font-weight-normal;

            h2 {
                margin: .4rem 0;
                font-size: 2rem;
                font-weight: vio.$font-weight-bold;
            }

            .art-info {
                /* 时间类型标签 */
                opacity: 0.6;
                margin: 0.4rem 0;
                z-index: -1;
                /* background-color: red; */
            }

            .art-excerpt {
                /* 缩略？ */
                margin: 1rem 0 1.5rem 0;
                line-height: 1.6;

                .art-ellipsis {
                    /* 省略号渐变 */
                    background: rgb(0, 0, 0);
                    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 131, 255, 0) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    /* font-size: 1.2rem; */
                }
            }
        }

        .art-img {
            max-width: 15rem;
            // max-height: 15rem; //防止太长的图片 怪，这里
            flex: 3;
            overflow: hidden;
            border-radius: vio.$radius;
            margin: 0 0 0 1rem;
            transition: transform 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04), box-shadow 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);

            max-height: 30vh;

            &:hover {
                transform: rotate(.007turn) scale(1.2);
                transition: transform 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04), box-shadow 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);
                box-shadow: 0 0 1rem rgba(128, 128, 128, 0.411);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


}



/* ## tag & category */
.art-tags,
.art-cats {
    margin: 0 .5rem;
}

.art-tags>a,
.art-cats>a {
    /* color: #2a93d4; */
    /* font-size: 1.1rem; */
    transition: color 0.3s;
}

.art-cats>a::before {
    display: inline-block;
    content: "";
    width: .5rem;
    height: .5rem;
    align-self: center;
    /* ^ 画圈圈 😇 */
    font-size: .5rem;
    border: solid .13rem;
    border-radius: 1rem;
    margin: 0 .2rem;
}

.art-tags>a::before {
    content: "#";
    font-weight: bold;
    margin: 0 .2rem;
}

.art-list li:hover .art-tags>a {
    color: #2a93d4;
}

.art-list li:hover .art-cats>a {
    color: #7f2ad4;
}

.art-tags>a:hover {
    text-decoration: solid;
}





/* ## sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0;
    flex-basis: auto;
    margin: 2rem 0 2rem 2rem;
}

.bar-myself {
    position: sticky;
    top: 1rem;
    padding: 2rem;

    >.info {
        display: flex;
        align-items: center;

        >img {
            width: 4rem;
            height: 4rem;
            border-radius: vio.$radius;
            margin-right: 1rem;
        }

        >div {
            >h2 {
                font-weight: bold;
            }

            >p {
                color: vio.$font-color-light;
            }
        }
    }

    >.badge {
        margin-top: 1rem;

        >img {
            border-radius: .3rem;
            // width: 2rem;
            height: 2rem;
            margin-right: .5rem;

            transition: transform .5s cubic-bezier(0, 0, 0, 1);

            &:hover {
                // box-shadow: .2rem .2rem .5rem rgba(128, 128, 128, 0.273);
                // background: linear-gradient(145deg, #ddd, #fff);
                // box-shadow: 2px 4px 8px #ddd, -2px -4px 8px #fff;
                transform: translate(0, -0.2rem) scale(1.2);
                transition: transform .3s cubic-bezier(0, 0, 0, 1);
            }
        }
    }

}

.vio-pagination {
    //分页
    display: inline-block;
    background: vio.$color-violet-argon;
    border-radius: vio.$radius;
    padding: 1rem 1.5rem;

    &:empty{
        display: none;
    }

    .page-numbers {
        margin: 0 1rem;
        font-weight: vio.$font-weight-bold;
    }

    .dots {
        margin: 0;
    }

    .current {
        color: vio.$color-violet-light;

    }
}

.vio-archive-title {
    @include component.vio-card;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    margin: 2rem 0;
    border-radius: vio.$radius;
    font-size: 1rem;
    >div{
        display: inline-block;
    }

    h1 {
        font-weight: vio.$font-weight-bold;
    }
    p{
        color: vio.$font-color-light;
    }

    &::before {
        display: inline-block;
        content: "&";
        line-height: 3rem;
        text-align: center;
        color: vio.$color-violet-light;
        font-weight: vio.$font-weight-bold;
        font-size: 1.5rem;
        height:3rem;
        width: 3rem;
        background: vio.$color-violet-argon;
        border-radius: vio.$radius;
        margin-right: 1rem;
    }

    &[tag]{
        &:before{
            content: "#";
            background-color: vio.$color-sky-argon;
            color: vio.$color-sky-light;
        }
    }
}

.sticky_post{
    &:before{
        @include icon.iconfont;
        @include icon.pin;
        color: vio.$color-violet-light;
        background: vio.$color-violet-argon;
        padding: .3rem;
        border-radius: calc(vio.$radius / 2);
        transform: rotate(45deg);
    }
}
