@charset "UTF-8";
/*

*/
@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.woff2?t=1666677219493") format("woff2"), url("../font/iconfont.woff?t=1666677219493") format("woff"), url("../font/iconfont.ttf?t=1666677219493") format("truetype");
}
/*
icon from:https://github.com/Templarian/MaterialDesign
*/
@font-face {
  font-family: "Roboto-Bold";
  font-weight: bold;
  src: url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff");
}
.icon::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --banner-background-img: url("https://tvax1.sinaimg.cn/large/ec43126fgy1gwf1m76slyj23561xgnpg.jpg");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, Arial, Helvetica Neue, Helvetica, Nimbus Sans L, Noto Sans, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgb(244, 244, 244);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(164, 164, 164);
  border-radius: 1rem;
}

/*
    组件？
*/
.toast {
  border-radius: 0.5rem;
  min-width: 8rem;
  padding: 0.7rem;
  background: #6dc2f2;
  position: fixed;
  top: -5rem;
  right: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  animation: Toast 4s ease;
}
@keyframes Toast {
  0% {
    top: 4rem;
  }
  6% {
    transform: translate(0px, 7px) rotate(3.5deg);
  }
  8% {
    transform: translate(0px, -9px) rotate(-0.5deg);
  }
  10% {
    transform: translate(-8px, -5px) rotate(2.5deg);
  }
  12% {
    transform: translate(-1px, 4px) rotate(3.5deg);
  }
  14% {
    transform: translate(8px, 4px) rotate(0.5deg);
  }
  16% {
    transform: translate(-3px, 8px) rotate(0.5deg);
  }
  18% {
    transform: translate(10px, 10px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-4px, 10px) rotate(0.5deg);
  }
  22% {
    transform: translate(6px, 4px) rotate(0.5deg);
  }
  24% {
    transform: translate(-9px, -7px) rotate(-0.5deg);
  }
  26% {
    transform: translate(8px, 3px) rotate(-1.5deg);
  }
  28% {
    transform: translate(-8px, -9px) rotate(2.5deg);
  }
  30% {
    transform: translate(0px, -3px) rotate(-0.5deg);
  }
  90% {
    top: 4rem;
  }
  100% {
    top: -5rem;
  }
}

/*! * * * * * * * * * * * * * * * * * * * *\  
  CSShake :: shake-hard
  v1.6.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-hard {
  display: inherit;
  transform-origin: center center;
}

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused;
}

.shake-hard:hover, .shake-trigger:hover .shake-hard, .shake-freeze:hover,
.shake-trigger:hover .shake-freeze {
  animation-play-state: running;
}

@keyframes shake-hard {
  2% {
    transform: translate(-7px, 10px) rotate(3.5deg);
  }
  4% {
    transform: translate(-5px, 7px) rotate(-1.5deg);
  }
  6% {
    transform: translate(0px, 7px) rotate(3.5deg);
  }
  8% {
    transform: translate(0px, -9px) rotate(-0.5deg);
  }
  10% {
    transform: translate(-8px, -5px) rotate(2.5deg);
  }
  12% {
    transform: translate(-1px, 4px) rotate(3.5deg);
  }
  14% {
    transform: translate(8px, 4px) rotate(0.5deg);
  }
  16% {
    transform: translate(-3px, 8px) rotate(0.5deg);
  }
  18% {
    transform: translate(10px, 10px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-4px, 10px) rotate(0.5deg);
  }
  22% {
    transform: translate(6px, 4px) rotate(0.5deg);
  }
  24% {
    transform: translate(-9px, -7px) rotate(-0.5deg);
  }
  26% {
    transform: translate(8px, 3px) rotate(-1.5deg);
  }
  28% {
    transform: translate(-8px, -9px) rotate(2.5deg);
  }
  30% {
    transform: translate(0px, -3px) rotate(-0.5deg);
  }
  32% {
    transform: translate(-3px, 3px) rotate(1.5deg);
  }
  34% {
    transform: translate(8px, 0px) rotate(-1.5deg);
  }
  36% {
    transform: translate(-3px, -5px) rotate(-2.5deg);
  }
  38% {
    transform: translate(-3px, 6px) rotate(-0.5deg);
  }
  40% {
    transform: translate(3px, -6px) rotate(1.5deg);
  }
  42% {
    transform: translate(-6px, -4px) rotate(-1.5deg);
  }
  44% {
    transform: translate(-2px, -7px) rotate(-0.5deg);
  }
  46% {
    transform: translate(9px, 2px) rotate(-0.5deg);
  }
  48% {
    transform: translate(6px, 4px) rotate(3.5deg);
  }
  50% {
    transform: translate(7px, 3px) rotate(0.5deg);
  }
  52% {
    transform: translate(6px, 6px) rotate(0.5deg);
  }
  54% {
    transform: translate(-4px, -5px) rotate(2.5deg);
  }
  56% {
    transform: translate(-8px, 0px) rotate(2.5deg);
  }
  58% {
    transform: translate(-4px, 2px) rotate(-1.5deg);
  }
  60% {
    transform: translate(-6px, 4px) rotate(-0.5deg);
  }
  62% {
    transform: translate(6px, 8px) rotate(0.5deg);
  }
  64% {
    transform: translate(0px, 8px) rotate(-2.5deg);
  }
  66% {
    transform: translate(6px, 8px) rotate(0.5deg);
  }
  68% {
    transform: translate(-6px, 0px) rotate(1.5deg);
  }
  70% {
    transform: translate(1px, -5px) rotate(-0.5deg);
  }
  72% {
    transform: translate(7px, -5px) rotate(1.5deg);
  }
  74% {
    transform: translate(-3px, -7px) rotate(1.5deg);
  }
  76% {
    transform: translate(-4px, -7px) rotate(2.5deg);
  }
  78% {
    transform: translate(-5px, 4px) rotate(3.5deg);
  }
  80% {
    transform: translate(2px, 7px) rotate(-0.5deg);
  }
  82% {
    transform: translate(-6px, 10px) rotate(1.5deg);
  }
  84% {
    transform: translate(-8px, -8px) rotate(1.5deg);
  }
  86% {
    transform: translate(-6px, 4px) rotate(-0.5deg);
  }
  88% {
    transform: translate(-9px, -7px) rotate(3.5deg);
  }
  90% {
    transform: translate(7px, 8px) rotate(-0.5deg);
  }
  92% {
    transform: translate(-2px, -6px) rotate(-0.5deg);
  }
  94% {
    transform: translate(-2px, 8px) rotate(2.5deg);
  }
  96% {
    transform: translate(-5px, 6px) rotate(-1.5deg);
  }
  98% {
    transform: translate(6px, -5px) rotate(2.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}
.shake-hard:hover, .shake-trigger:hover .shake-hard, .shake-hard.shake-freeze, .shake-hard.shake-constant {
  animation-name: shake-hard;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=csshake-hard.css.map */
.vio-single {
  flex: 6;
  width: 0;
}
.vio-single > article {
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(128, 128, 128, 0.05);
  transition: box-shadow 0.3s;
  padding: 2rem;
  background: white;
  margin: 2rem 0;
  padding: 2rem;
}
.vio-single > article:hover {
  box-shadow: 0.2rem 0.2rem 2rem rgba(128, 128, 128, 0.1);
  transition: box-shadow 0.5s;
}
.vio-single > article > .info {
  display: flex;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid rgba(128, 128, 128, 0.199);
}
.vio-single > article > .info > div {
  flex: 6;
}
.vio-single > article > .info > div > h1 {
  font-size: 2rem;
}
.vio-single > article > .info > div p {
  opacity: 0.6;
  margin: 0.4rem 0;
  z-index: -1;
}
.vio-single > article > .info > div p .item {
  margin-left: 0.5rem;
}
.vio-single > article > .info > div p a {
  color: rgb(79, 79, 79);
}
.vio-single > article > .info:hover .art-cats a {
  color: #7f2ad4;
}
.vio-single > article > .info:hover .art-tags a {
  color: #2a93d4;
}
.vio-single > article > .info > img {
  object-fit: cover;
  border-radius: 1rem;
  transition: box-shadow 0.5s cubic-bezier(0.73, -0.02, 0.27, 1.04);
  transition: transform 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);
  border-radius: 1rem;
  width: 30%;
  max-height: 30vh;
}
.vio-single > article > .info > img:hover {
  transition: box-shadow 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);
  box-shadow: 0 0 1rem rgba(128, 128, 128, 0.411);
}
.vio-single > article > .info > img:hover {
  transform: rotate(0.007turn) scale(1.2);
  transition: transform 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);
}
.vio-single > article > .main-body {
  line-height: 1.8;
  text-align: left;
  font-size: 1.07rem;
}
.vio-single > article > .main-body img {
  margin: 1rem 0;
  border-radius: 1rem !important;
  border: 0.1rem solid rgba(128, 128, 128, 0);
}
.vio-single > article > .main-body figcaption {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(79, 79, 79, 0.8);
  margin-top: -1rem;
  text-align: center;
}
.vio-single > article > .main-body h2 {
  margin: 0.8rem 0;
}
.vio-single > article > .main-body h2::before {
  content: "#";
  color: white;
  padding: 0.1rem 0.4rem;
  margin-right: 0.5rem;
  background: #a66df2;
  border-radius: 0.5rem;
}
.vio-single > article > .main-body h3 {
  margin: 0.5rem 0;
}
.vio-single > article > .main-body h3::before {
  content: "##";
  color: white;
  padding: 0.1rem 0.4rem;
  margin-right: 0.5rem;
  background: #a66df2;
  border-radius: 0.5rem;
}
.vio-single > article > .main-body ul {
  margin: 0.5rem 0;
  list-style-type: none;
  border-left: 0.3rem dashed #a66df2;
  padding-left: 1rem;
}
.vio-single > article > .main-body .wp-block-quote {
  background: rgba(127, 42, 212, 0.0823529412);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column-reverse;
  margin: 1rem 0;
}
.vio-single > article > .main-body .wp-block-quote p {
  align-self: flex-end;
  color: #4f0a9d;
}
.vio-single > article > .main-body .wp-block-quote p::before {
  content: "--";
  margin-right: 0.5rem;
}
.vio-single > article > .main-body .wp-block-quote p:empty {
  display: none;
}
.vio-single > article > .main-body .wp-block-quote p:empty + cite::before {
  content: "TIPS";
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.1rem 0.4rem;
  margin-right: 0.5rem;
  background: #a66df2;
  border-radius: 0.5rem;
  border: 0.1rem solid #a66df2;
  color: #a66df2;
  background: none;
}
.vio-single > article > .main-body .wp-block-quote cite {
  font-weight: 400;
  color: rgba(79, 79, 79, 0.8);
  text-align: left;
  font-style: normal;
}
.vio-single > article > .main-body .wp-block-quote cite::before {
  content: "“";
  color: #a66df2;
  font-size: 2rem;
  margin-right: 0.5rem;
}
.vio-single > article > .main-body .wp-block-code {
  background: #242424;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  color: white;
  overflow: auto;
}
.vio-single > article > .main-body .wp-block-code code {
  color: white;
}

.directory-header #directory-title {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.directory {
  margin-top: 1rem;
}
.directory > p P {
  margin: 0 0 0 1rem;
  padding: 0.3rem 0 0.3rem 1rem;
  border-left: rgba(79, 79, 79, 0.344) 0.1rem solid;
}
.directory p {
  margin: 0.3rem;
  font-weight: 400;
}
.directory .active > span {
  font-weight: bold;
  color: #a66df2;
}

.helper {
  height: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  color: rgba(79, 79, 79, 0.344);
}
.helper .precent {
  font-weight: bold;
  text-align: center;
  flex: 1;
  text-align: right;
}
.helper .light::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e65b";
}
.helper .icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.helper .icon:hover::before {
  color: rgba(0, 0, 0, 0.4705882353);
  border-radius: 0.3333333333rem;
  transition: 0.1s ease-out color;
}
.helper .icon::before {
  padding: 0.2rem;
  transition: 0.1s ease-out color;
}

.post-password-form {
  border-radius: 11px;
  background: #FF7171;
  padding: 1rem;
  color: white;
}
.post-password-form input[name=post_password] {
  background: none;
  border: none;
  border-bottom: 2px solid #FFF;
  color: #FFF;
  min-width: 15rem;
}
.post-password-form input[name=post_password]:focus {
  outline: none;
}
.post-password-form input[type=submit] {
  color: #FF7171;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
  text-align: left;
}

.vio-comments {
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(128, 128, 128, 0.05);
  transition: box-shadow 0.3s;
  padding: 2rem;
  padding: 2rem;
  background: white;
}
.vio-comments:hover {
  box-shadow: 0.2rem 0.2rem 2rem rgba(128, 128, 128, 0.1);
  transition: box-shadow 0.5s;
}
.vio-comments:empty {
  display: none;
}
.vio-comments .comment_title {
  margin-bottom: 1rem;
}
.vio-comments .comment_title::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e61d";
}
.vio-comments .reply_title {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.vio-comments .reply_title > a {
  color: rgb(79, 79, 79);
}
.vio-comments .reply_title + small {
  background-color: rgba(127, 42, 212, 0.0823529412);
  padding: 0.3rem 0.4rem;
  border-radius: 0.25rem;
}
.vio-comments .reply_title + small > a {
  color: #a66df2;
}
.vio-comments ul {
  list-style-type: none;
}
.vio-comments form {
  margin-bottom: 1rem;
}
.vio-comments form textarea {
  border: none;
  border-bottom: solid 0.1rem #a66df2;
  background: rgba(127, 42, 212, 0.0823529412);
  padding: 1rem;
  color: rgb(79, 79, 79);
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  min-height: 5rem;
  resize: none;
  transition: border 0.3s ease-in-out;
}
.vio-comments form textarea:focus {
  outline: none;
  border-bottom: 0.2rem solid #a66df2;
}
.vio-comments form input {
  background-color: rgba(127, 42, 212, 0.0823529412);
  border: none;
}
.vio-comments form .form-submit {
  text-align: right;
}
.vio-comments form .submit {
  border: none;
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;
  background: #a66df2;
  color: white;
}
.vio-comments form .input {
  background: none;
  outline: none;
  border: none;
  padding: 0.2rem 0.3rem;
  margin: 0.1rem;
  color: #7f2ad4;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.vio-comments form .input::placeholder {
  color: rgba(128, 128, 128, 0.511);
}
.vio-comments form .input::before {
  content: "p";
  background-color: #a66df2;
  display: block;
  height: 1rem;
  width: 1rem;
}
.vio-comments li > .comment {
  display: flex;
}
.vio-comments li > .comment .avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
}
.vio-comments li > .comment .comment-content {
  width: 100%;
  position: relative;
  margin: 0 0 0 1rem;
}
.vio-comments li > .comment .comment-content:hover .year {
  opacity: 1 !important;
  transition: opacity 0.3s;
}
.vio-comments li > .comment .comment-content:hover .reply_link {
  opacity: 1 !important;
  transition: opacity 0.3s;
}
.vio-comments li > .comment .comment-content .name {
  color: rgba(79, 79, 79, 0.8);
  margin: 0 0 0.3rem 0;
}
.vio-comments li > .comment .comment-content .name > a {
  color: rgba(79, 79, 79, 0.8);
}
.vio-comments li > .comment .comment-content .text {
  font-size: 0.85rem;
  color: rgb(79, 79, 79);
  margin-bottom: 1.5rem;
  min-height: 1.5rem;
}
.vio-comments li > .comment .comment-content .time {
  color: rgba(79, 79, 79, 0.344);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.85rem;
}
.vio-comments li > .comment .comment-content .year {
  opacity: 0;
  transition: opacity 0.3s;
}
.vio-comments li > .comment .comment-content .reply_link {
  opacity: 0;
  background: rgba(127, 42, 212, 0.0823529412);
  font-size: 0.8rem;
  position: absolute;
  border-radius: 0.25rem;
  padding: 0.2rem 0.3rem;
  right: 0.5rem;
  bottom: 0.5rem;
  transition: opacity 0.3s;
}
.vio-comments li > .comment .comment-content .reply_link > a {
  color: #a66df2;
}
.vio-comments li > .comment .comment-content .reply_link > a:hover {
  color: #7f2ad4;
}
.vio-comments .reply {
  margin-left: 2rem;
}
.vio-comments .reply .avatar {
  width: 2rem !important;
  height: 2rem !important;
}

.footer-line {
  margin-bottom: 2rem;
  border-bottom: solid 0.5rem rgba(127, 42, 212, 0.0823529412);
}

footer {
  width: 100%;
  margin: 2rem 0;
}
footer > div {
  display: flex;
}
footer > div .footer-left {
  flex: 1;
  color: rgba(79, 79, 79, 0.8);
}
footer > div .footer-left > .title {
  font-family: Roboto-Bold, system-ui, -apple-system, Arial, Helvetica Neue, Helvetica, Nimbus Sans L, Noto Sans, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgba(79, 79, 79, 0.344);
}
footer > div .footer-left .theme-logo {
  font-family: Roboto-Bold, system-ui, -apple-system, Arial, Helvetica Neue, Helvetica, Nimbus Sans L, Noto Sans, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  margin-top: 2rem;
  text-decoration-style: none;
  padding: 0.5rem;
  background: rgba(127, 42, 212, 0.0823529412);
  color: #a66df2;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
footer > div .footer-right {
  flex: 1;
  color: rgba(79, 79, 79, 0.8);
}

.footer-link {
  list-style: none;
  display: flex;
  background-color: rgba(196, 196, 196, 0.108);
  padding: 0.5rem 1rem;
  max-width: 40vw;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.footer-link:empty {
  display: none;
}
.footer-link > li a {
  color: rgb(144, 144, 144);
  font-weight: bold;
  margin-right: 1rem;
}

.main-body:empty {
  display: none;
}

.vio-archive {
  list-style: none;
}
.vio-archive h2 {
  font-size: 2rem;
}
.vio-archive li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem 0;
}
.vio-archive li a {
  width: 100%;
  color: rgb(79, 79, 79);
  font-weight: bold;
}
.vio-archive li span {
  margin-right: 0.8rem;
  margin-left: 1rem;
  color: #a66df2;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3333333333rem;
  font-size: 0.9rem;
  white-space: 0.2rem;
  font-weight: bold;
}
.vio-archive .M01 span, .vio-archive .M02 span, .vio-archive .M03 span {
  color: #4CAF50;
}
.vio-archive .M04 span, .vio-archive .M05 span, .vio-archive .M06 span {
  color: #f6695f;
}
.vio-archive .M07 span, .vio-archive .M08 span, .vio-archive .M09 span {
  color: #FF9800;
}
.vio-archive .M10 span, .vio-archive .M11 span, .vio-archive .M12 span {
  color: #2196F3;
}
.vio-archive .M10 span::before, .vio-archive .M11 span::before, .vio-archive .M12 span::before {
  content: "❄️";
  position: absolute;
  transform: translateX(-1.5rem);
}

@media screen and (max-width: 50rem) {
  header {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
  }
  header.menu-show > div > div {
    margin-left: 2rem;
  }
  header.menu-show > div > div .menu {
    background-color: rgb(255, 255, 255);
    max-height: 20rem;
  }
  header.search-show > div > div {
    opacity: 0;
  }
  header.search-show .dark-light-switch {
    opacity: 0;
  }
  header > div > div {
    height: 3.5rem;
    transition: all 0.3s ease-in-out;
  }
  header > div > div > ul.menu {
    height: auto;
    flex-direction: column;
  }
  header > div > div > ul.menu li:nth-child(n+2) {
    display: block;
  }
  header > div > div > .menu,
header div.menu.tool {
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
    transition: all 0.3s ease-in-out;
    margin: 0 !important;
    box-shadow: none !important;
    background: none;
    backdrop-filter: none;
    max-height: 3.5rem;
  }
  header > div > div > .menu li:nth-child(n+2),
header div.menu.tool li:nth-child(n+2) {
    display: none;
  }
  header > div.left {
    display: flex;
    align-items: center;
  }
  header .menu-button {
    display: block;
  }
  div.float-action-buttons div.open-sidebar {
    display: block;
  }
  div.float-action-buttons .back-to-top {
    max-height: 0;
  }
  .container {
    padding: 0 1rem !important;
  }
  div.sidebar {
    transition: margin-right 0.3s ease;
    position: fixed;
    top: 0;
    right: -70vw;
    width: 70vw;
    z-index: 91;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.5);
    padding-left: 1rem;
    font-size: 0.9rem;
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
  }
  div.sidebar .vio-card {
    background: none;
    padding: 1rem;
    margin: 0;
    box-shadow: none;
  }
  div.sidebar.show {
    margin-right: 70vw;
  }
  .sayhello h1 {
    font-size: 2.3rem !important;
    font-weight: 900;
  }
  .sayhello p {
    font-size: 1rem !important;
  }
  .art-list .vio-card {
    padding: 0;
    flex-direction: column-reverse;
  }
  .art-list .vio-card .art-img {
    margin: 0 0 -1.5rem 0;
    border-radius: 1rem 1rem 0rem 0rem;
    max-width: 100%;
    pointer-events: none;
  }
  .art-list .vio-card .art-img img {
    height: auto;
    max-height: 40vh;
  }
  .art-list .vio-card .art-card {
    margin: 2rem;
  }
  .art-list .vio-card .art-card h2 {
    font-size: 1.5rem;
  }
  article {
    padding: 0 !important;
  }
  article > .info {
    flex-direction: column-reverse;
  }
  article > .info img {
    width: 100% !important;
    border-radius: 1rem 1rem 0 0 !important;
    pointer-events: none;
  }
  article > .info h1 {
    font-size: 1.5rem !important;
  }
  article > .info > div {
    margin: 1.5rem 1rem 1rem 1rem;
    text-align: center;
  }
  article > .info .post-meta span:first-child {
    display: none;
  }
  article > .info .post-meta span:empty {
    display: none !important;
  }
  article > .info .post-meta span.item {
    display: inline-block;
  }
  article > .info .post-meta > p {
    display: inline;
  }
  article .main-body, article .vio-archive {
    padding: 1rem;
  }
  article .main-body p, article .vio-archive p {
    font-size: 1rem !important;
  }
  .vio-archive h2 {
    font-size: 1.5rem;
  }
  footer div {
    flex-direction: column-reverse;
  }
  footer div ul {
    max-width: 100% !important;
  }
}
/*
    2022/10/11
    TODO 有些属性应该是成变量
*/
:root {
  --vio-font-color: rgb(79, 79, 79);
}

body {
  /* background-color:rgb(245, 245, 247); */
  background-color: rgb(244, 244, 244);
  color: var(--vio-font-color);
}

/* display style */
.vio-card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(128, 128, 128, 0.05);
  transition: box-shadow 0.3s;
}
.vio-card:hover {
  box-shadow: 0.2rem 0.2rem 2rem rgba(128, 128, 128, 0.1);
  transition: box-shadow 0.5s;
}

.menu-hide {
  margin-top: -5rem;
  transition: margin-top 0.3s cubic-bezier(0, 0, 0.38, 1.04);
}

.menu-button {
  z-index: 1;
  display: none;
  align-items: center;
  margin-right: -1rem;
  margin-left: 1rem;
}
.menu-button::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e677";
  font-size: 1.5rem;
}

/* # header */
header {
  position: fixed;
  z-index: 90;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: margin-top 0.3s cubic-bezier(0, 0, 0.38, 1.04);
}
header .menu {
  display: flex;
  margin: 0.7rem 3rem;
  height: 3.5rem;
  backdrop-filter: blur(7px);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(128, 128, 128, 0.246);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
}
header.search-show .search-container input {
  max-width: 10rem;
}
header ul {
  list-style-type: none;
  display: flex;
  /* opacity: 0.8; */
  /* background-color: #f4f4f4; */
}
header ul li {
  opacity: 1;
  margin: 0 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.1s ease-out;
  display: flex;
  align-items: center;
}
header ul li:first-child a::before {
  content: "";
  background: #a66df2;
  width: 0.2rem;
}
header ul li a {
  font-family: Roboto-Bold, system-ui, -apple-system, Arial, Helvetica Neue, Helvetica, Nimbus Sans L, Noto Sans, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  text-decoration: none;
  color: rgb(79, 79, 79);
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
}
header ul li:hover {
  background-color: rgba(0, 0, 0, 0.0588235294);
  transition: background-color 0.1s ease-out;
}
header .icon {
  margin-right: 0.5rem;
}
header .search::before {
  content: "\e655";
  font-size: 1.5rem;
}
header .dark-light-switch {
  transform: translateY(0.2rem);
}
header .dark-light-switch::before {
  content: "\e65e";
  font-size: 1.7rem;
}

.banner {
  height: 80vh;
  /*  60% height  */
  font-weight: 100%;
  background: var(--banner-background-img) center;
  /* TODO 背景图，应该是变量 */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-content {
  width: 100%;
  margin-top: -10vh !important;
}

.sayhello {
  /* background: red; */
  color: #f4f4f4;
  width: 100%;
  text-shadow: 0 0 6rem rgb(0, 0, 0);
}
.sayhello > h1 {
  font-family: Roboto-Bold, system-ui, -apple-system, Arial, Helvetica Neue, Helvetica, Nimbus Sans L, Noto Sans, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.15rem;
}
.sayhello > p {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.vio-404 > h1 {
  font-size: 5rem;
}
.vio-404 > p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

/* # 内容容器 */
.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 2rem;
}

.content {
  margin: -35vh auto 2rem auto;
  display: flex;
}

.search-container input {
  transition: max-width 0.3s ease-out;
  width: 10rem;
  max-width: 0rem;
  background: none;
  border: none;
  font-size: 1.1rem;
}
.search-container input:focus {
  outline: none;
}

.float-action-buttons {
  z-index: 93;
  position: fixed;
  bottom: 2rem;
  right: 4vw;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #a66df2;
  box-shadow: rgba(0, 0, 0, 0.1176470588) 1 1 1rem;
}
.float-action-buttons .open-sidebar {
  display: none;
  transition: transform 0.3s ease-out;
}
.float-action-buttons .open-sidebar::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e666";
}
.float-action-buttons .back-to-top {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.float-action-buttons .back-to-top::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e668";
}
.float-action-buttons.menu-show .open-sidebar {
  transform: rotate(180deg);
}
.float-action-buttons.menu-show .back-to-top {
  max-height: 2rem;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: opacity 0.3s ease-out;
}
.mask.show {
  display: block;
}

/* ## main */
.art-list {
  flex: 6;
}
.art-list > ul {
  list-style-type: none;
}
.art-list a {
  text-decoration: none;
  color: rgb(79, 79, 79);
  /* 链接颜色 TODO 应该是变量*/
}
.art-list li {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem 0;
  transition: box-shadow 0.3s ease-out;
  display: flex;
  /* text-decoration: none; */
  color: rgb(79, 79, 79);
  /* 文章列表文字颜色 */
}
.art-list li:hover {
  box-shadow: 0.2rem 0.2rem 2rem rgba(128, 128, 128, 0.199);
  transition: box-shadow 0.5s ease-out;
}
.art-list li .art-card {
  flex: 7;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
}
.art-list li .art-card h2 {
  margin: 0.4rem 0;
  font-size: 2rem;
  font-weight: bold;
}
.art-list li .art-card .art-info {
  /* 时间类型标签 */
  opacity: 0.6;
  margin: 0.4rem 0;
  z-index: -1;
  /* background-color: red; */
}
.art-list li .art-card .art-excerpt {
  /* 缩略？ */
  margin: 1rem 0 1.5rem 0;
  line-height: 1.6;
}
.art-list li .art-card .art-excerpt .art-ellipsis {
  /* 省略号渐变 */
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 131, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* font-size: 1.2rem; */
}
.art-list li .art-img {
  display: flex;
  flex-direction: column;
  flex: 3;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0 0 0 1rem;
  transition: transform 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04), box-shadow 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);
}
.art-list li .art-img:hover {
  transform: rotate(0.007turn) scale(1.2);
  transition: transform 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04), box-shadow 0.3s cubic-bezier(0.73, -0.02, 0.27, 1.04);
  box-shadow: 0 0 1rem rgba(128, 128, 128, 0.411);
}
.art-list li .art-img img {
  width: 100%;
  height: 0;
  flex-grow: 1;
  object-fit: cover;
}

/* ## tag & category */
.art-tags > a,
.art-cats > a {
  /* color: #2a93d4; */
  /* font-size: 1.1rem; */
  transition: color 0.3s;
}

.art-cats > a::before {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  align-self: center;
  /* ^ 画圈圈 😇 */
  font-size: 0.5rem;
  border: solid 0.13rem;
  border-radius: 1rem;
  margin: 0 0.2rem;
}

.art-tags > a::before {
  content: "#";
  font-weight: bold;
  margin: 0 0.2rem;
}

.art-list li:hover .art-tags > a {
  color: #2a93d4;
}

.art-list li:hover .art-cats > a {
  color: #7f2ad4;
}

.art-tags > a:hover {
  text-decoration: solid;
}

/* ## sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 2.5;
  flex-basis: auto;
  margin: 2rem 0 2rem 2rem;
  width: 0;
}
.sidebar .vio-card {
  padding: 2rem;
  margin-bottom: 1rem;
}
.sidebar > div {
  position: sticky;
  top: 1rem;
}

.bar-myself {
  padding: 2rem;
}
.bar-myself > .info {
  display: flex;
  align-items: center;
}
.bar-myself > .info > img {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  margin-right: 1rem;
}
.bar-myself > .info > div > h2 {
  font-weight: bold;
}
.bar-myself > .info > div > p {
  color: rgba(79, 79, 79, 0.8);
}
.bar-myself > .badge {
  margin-top: 1rem;
  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.bar-myself > .badge::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.bar-myself > .badge > img {
  border-radius: 0.3rem;
  height: 2rem;
  margin-right: 0.5rem;
  transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
}
.bar-myself > .badge > img:hover {
  transform: translate(0, -0.2rem) scale(1.2);
  transition: transform 0.3s cubic-bezier(0, 0, 0, 1);
}

.bar-category {
  display: flex;
  flex-wrap: wrap;
}
.bar-category li {
  list-style: none;
  display: inline-block;
  margin: 0.3rem 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 0.3rem;
  word-wrap: break-all;
  border-radius: 0.25rem;
}
.bar-category li span,
.bar-category li a {
  display: inline-block;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.bar-category li span {
  border-left: solid 0.1rem;
  padding: 0.2rem;
}
.bar-category li.category {
  background-color: rgba(127, 42, 212, 0.0823529412);
}
.bar-category li.category a,
.bar-category li.category span {
  color: #a66df2;
}
.bar-category li.category span {
  border-color: rgba(127, 42, 212, 0.0823529412);
}
.bar-category li.tag {
  background-color: rgba(42, 147, 212, 0.0823529412);
}
.bar-category li.tag a,
.bar-category li.tag span {
  color: #6dc2f2;
}
.bar-category li.tag span {
  border-color: rgba(42, 147, 212, 0.0823529412);
}

.bar-article .bar-article-title {
  color: rgb(79, 79, 79);
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.bar-article .icon-sync {
  margin-right: 0.5rem;
}
.bar-article .icon-sync::before {
  content: "\e611";
}
.bar-article .tool-random {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgba(79, 79, 79, 0.344);
  padding: 0.2rem;
  border-radius: 0.25rem;
  border: none;
}

.tool {
  display: flex;
  align-items: center;
}

.vio-pagination {
  display: inline-block;
  background: rgba(127, 42, 212, 0.0823529412);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}
.vio-pagination:empty {
  display: none;
}
.vio-pagination .page-numbers {
  margin: 0 1rem;
  font-weight: bold;
}
.vio-pagination .dots {
  margin: 0;
}
.vio-pagination .current {
  color: #a66df2;
}

.vio-archive-title {
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(128, 128, 128, 0.05);
  transition: box-shadow 0.3s;
  padding: 2rem;
  background: white;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  font-size: 1rem;
}
.vio-archive-title:hover {
  box-shadow: 0.2rem 0.2rem 2rem rgba(128, 128, 128, 0.1);
  transition: box-shadow 0.5s;
}
.vio-archive-title > div {
  display: inline-block;
}
.vio-archive-title h1 {
  font-weight: bold;
}
.vio-archive-title p {
  color: rgba(79, 79, 79, 0.8);
}
.vio-archive-title::before {
  display: inline-block;
  content: "&";
  line-height: 3rem;
  text-align: center;
  color: #a66df2;
  font-weight: bold;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  background: rgba(127, 42, 212, 0.0823529412);
  border-radius: 1rem;
  margin-right: 1rem;
}
.vio-archive-title[tag]::before {
  content: "#";
  background-color: rgba(42, 147, 212, 0.0823529412);
  color: #6dc2f2;
}
.vio-archive-title[search]::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e655";
  padding-right: 0.15rem;
}

.sticky_post::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e651";
  color: #a66df2;
  background: rgba(127, 42, 212, 0.0823529412);
  padding: 0.3rem;
  border-radius: 0.5rem;
  transform: rotate(45deg);
}

/*# sourceMappingURL=vio-min.css.map */
